
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    
}
body{
    background-color: #534242;
    height: 100%;
    width: 100%;
}
nav .title{
    font-size: 30px;
    color: white;
    display: flex;
    font-weight: bold;
    text-decoration: none;
    transition: all .50s ease;

}
nav title:hover{
    text-shadow: #A37878;
    color:#A37878;
    transition: .3s
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 10%;
    padding-left: 10%;
    padding-right: 10%;
    background: black;
    transition: all .50s ease;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 40px;
    transition: all .50s ease;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all .50s ease;
}
nav ul li a:hover{
    color:#573d3d;
    transition: .3s
}
nav a.active{
    color: #534242;
}
nav button{
    border: none;
    background-color: #573d3d;
    border-radius: 20px;
    padding: 9px 13px;
    color: white;
    font-weight: bold;
    transition: .4s;
    transition: all .50s ease;
}
nav button:hover{
    transform: scale(1.3);
}
nav ul.open {
    display: flex;
}




