
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    
}
body{
    background-color: #534242;
    height: 100%;
    width: 100%;
}
.title{
    font-size: 30px;
    display: flex;
    color:  #534242;
    text-decoration: none;
}

.navbar {
  width: 100%;
  height: 60px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 10%;
  padding-left: 10%;
  padding-right: 10%;
  position: fixed;      
  top: 0;
  left: 0;
  z-index: 1000;       
  transition: all .50s ease;
}

.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 40px;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all .50s ease;
}

.navbar ul li a:hover{
    color: #573d3d;
}
.item.active{
    color: #534242;
}
.item1.active{
    color: #534242;
}
.navbar button{
    border: none;
    background-color: #534242;
    border-radius: 20px;
    padding: 9px 13px;
    color: white;
    font-weight: bold;
    transition: all.50s ease;
}
.navbar button:hover{
    transform:scale(1.3);
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}
.button {
  padding: 5px 15px;
  background-color: #555;
  border: none;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: #573d3d;
}
.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
  right: 0;
}
.hamburger:hover{
    color: #573d3d;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    left: -100%;
    flex-direction: column;
    background-color: black;
    width: 200px;
    height: 100vh;
    transition: 0.3s ease;
    padding-top: 20px;
  }
}




