* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: white;
}
