
.bar {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-color: #b07070ff;
  box-shadow: 0 0 5px #c38080ff;


}


.button-1 {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 70px;
  color: black;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

.button-1:hover {
  background-color: #563535ff;
  color:white;
}
